.boardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.board {
  width: 80vmin; /* Responsive size */
  height: 80vmin;
}
